.configContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.configContainer h1 {
    font-size: 150%;
}

#configButtonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

}

.crudAdminContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.tableContainer {
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid;
}

th, td {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#crudButtons {
    padding-left: 8px;
    padding-right: 8px;
}

.paginationBttns {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #222;
    color: #222;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: white;
    background-color: #444;
}

.paginationActive a {
    color: white;
    background-color: #222;
    cursor: default;
}

.paginationDisabled {
    cursor: default;
}

.paginationDisabled a {
    color: #222;
    border: none;
}
.paginationDisabled a:hover {
    color: #222;
    border: none;
    cursor: default;
    text-decoration: none;
}