.profilePageContainer {
    position: inherit;
    display: flex;
    width: 85%;
    margin-top: 20px;
    height: fit-content;
    margin-left: 5%;
    gap: 10px;

    background-color: #bbb;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.leftContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
    padding: 10px;
}

.basicInfo {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgContainer {
  /* Centramos la imagen */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Aplicamos un borde redondo */
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid black;

  /* Establecemos el tamaño de la imagen */
  width: 200px;
  height: 200px;
}

.basicInfo img {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.basicInfo .names {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.basicInfo .names h2 {
    font-size: 80%;
    margin: 0;
}



.descriptionContainer {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    width: 100%;
}

#getFile {
    display: none;
}

h2 {
    font-size: 100%;
}

h3 {
    font-size: 90%;
}

.descriptionContainer textarea {
    resize: none;
    width: 85%;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
}

.rightContainer {
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

.profesionalFormsContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    width: 70%;
    margin-left: 15%;
}

#profesionalInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bbb;
}

.aboutContainer {
    text-align: start;
    background-color: #eee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.aboutContainer .fillForms {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
    padding: 8px;

    background-color: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.aboutContainer .fillForms .fillForm {
    display: flex;
    flex-direction: column;
    width: 160px;
    min-width: 150px;
    gap: 5px;
    padding: 5px;
    text-align: start;
    height: max-content;
    white-space: nowrap; 
    overflow:hidden;
    text-overflow: ellipsis;
}

.aboutContainer .fillForms .fillForm label {
    font-size: 55%;
}

.aboutContainer .fillForms .fillForm input {
    width: 80%;
    height: 20px;
    position: relative;
    bottom: 0;
    border: 1px solid #777;
    border-radius: 5px;
}

.aboutContainer .fillForms .fillForm textarea {
    height: 40px;
    position: relative;
    bottom: 0;
    border: 1px solid #777;
    border-radius: 5px;
    resize: none;
}

.aboutContainer .fillForms .fillForm select {
    width: 80%;
    height: 22px;
    position: relative;
    bottom: 0;
    border: 1px solid #777;
    border-radius: 5px;
}

 #radiosForm{
    width: 30%;
}

.aboutContainer .fillForms .fillForm .inputRadios input {
    width: 10%;
    cursor: pointer;
}

.aboutContainer .fillForms .fillForm .inputRadios label {
    font-size: 70%;
    position: relative;
    bottom: 4px;
}

.aboutContainer .fillForms .crudButtons {
    position: relative;
    float: right;
}

.aboutContainer .moreInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.aboutContainer .moreInfoContainer .infoQuestion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.aboutContainer .moreInfoContainer .infoQuestion label {
    font-size: 70%;
    width: 85%;
}

.aboutContainer .moreInfoContainer .infoQuestion select {
    width: 10%;
    height: 22px;
    position: relative;
    bottom: 0;
    border: 1px solid #777;
    border-radius: 5px;
}

#ppAbout {
    text-align: start;
    box-shadow: none;
    width: fit-content;
    max-width: 70%;
}

.plus {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 100%;   
}

.plus:hover {
    color: #666;
}

.myProfileContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.myProfileButtons{
    position: absolute;
    top: 0;
    left: 5%;
    z-index: 10;
}

.profileButton{
    font-size: 70%;
    border: none;
    cursor: pointer;
    background-color: #aaa;
}

#presed {
    background-color: #bbb;
    cursor: default;
}


@media (max-width: 980px) {
    .aboutContainer .fillForms .fillForm {
        width: 300px;
    }
}

@media (max-width: 860px) {
    .profilePageContainer {
        flex-direction: column;
    }

}