.wrapper {
    border: none;
    border-radius: 20px;
    background-color: #aaa;
}

.container {
    background-color: #aaa;
    border: none;
    border-radius: 20px;
}

.label {
    font-size: 18px;
    color: #ccc;
    margin-left: 50px;
}