form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: solid #444;
    padding: 40px;
    border-radius: 10px;
    background-color: #eee;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-left: -15%;
}

.singleField {
    display: flex;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}
@media (max-width: 800px){
    form {
      width: 65%;
      
    }
  }