form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    border: solid #8e44ad;
    padding: 40px;
    border-radius: 10px;
    background-color: #555;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.singleField {
    display: flex;
    gap: 5px;
}

input {
    height: 30px;
    width: 20em;
    font-size: 17px;
    outline: none;
    border-radius: 3px;
    padding: 0 10px;
}

button {
    width: 70%;
    outline: none;
    background-color: #8e44ad;
    color: #fff;
    font-size: 17px;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 4px 18px;
    transition: all 230ms ease-in-out;
    margin-top: 1em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

button:hover {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #8e44ad;
    color: #8e44ad;
}