.app-container {
    color: #000;
}

.content-container{
    position: absolute;
    right: 120px;
    top: 30px;
    height: 95%;
    left: 0;
    transition: left 0.5s ease-out;
}

#colapsed {
    left: 300px;
}

#toggled {
    left: 120px;
}

#expanded {
    height: 100%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 64px;
}

/*SIDE-NAV*/

#quark-side-nav{
    background-color: #0A1C28;
    transition: all 0.5s ease-out;
}

#quark-side-nav .quark-side-logo{
    position: absolute;
    left: 20px;
    top: 50px
}

#quark-side-nav .nav-toggle {
    margin-top: 80px;
}

#quark-side-nav .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#quark-side-nav .nav-logout {
    position: fixed;
    bottom: 0;
    transition: all 0.5s ease-out;
}

#nav-colapsed {
    width: 64px;
}

#nav-toggled {
    width: 240px;
}

/*HOME*/
p{
    font-size: 16px !important;
}


span{
    font-size: 16px !important;
}


.titular-quark{
    color: #ffffff;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.065em;
}

.link-titular-quark{
    text-decoration: none;
    color: #2390B6;
    transition: all ease .5s;
}

.link-titular-quark:hover{
    color: #17637f;
    transition: all ease .5s
}

.subtitular-quark{
    color: #588CAF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.hr-quark{
    border: 1px solid #2F4A5B;
}

.btn-quark{
    font-family: 'JetBrains Mono' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 17px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: #0B2A3F !important;
    border: 1px solid #2390B6 !important;
    border-radius: 5px !important;
    color: #588CAF !important;
}


.btn-quark:hover{
    background: #0B86A0 !important;
    border: 1px solid #4AA3DB !important;
    color: #C4E4F9 !important;
}

.card-quark{
    background: #1B1120 !important;
    border: 1px solid #2F4A5B !important;
    color: #588CAF;
    margin-bottom: 23px !important;

}

.card-quark .card-body{
    padding: 20px;
}

.card-quark .card-body .card-text{
    color: #588CAF !important;
}
.card-quark .card-header{
    background: #26182D;
    border-bottom: 1px solid #2F4A5B;
    padding: 20px !important;
}

.card-quark .card-footer{
    background: #26182D;
    border-top: 1px solid #2F4A5B;
    padding: 20px 0 !important;
}

#cardIncioPerfil .quark-code-text{
    font-family: 'JetBrains Mono' !important;
}

#cardIncioPerfil .quark-code-text .btn-link{
    font-family: 'JetBrains Mono' !important;
    color: #22C4FC !important;
    text-decoration: none !important;
    padding: 0px !important;
    transition: all ease .5 !important;
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

#cardIncioPerfil .quark-code-text .btn-link:hover{
    color: #106581 !important;
}

.progress{
    margin-bottom: 10px !important;
    margin-top: -10px !important;
}

.progress-bar-quark {
    background-color: #2390B6;
  }
  :root {
    --bs-secondary-bg: #153C56;
  }

  .accordion-quark .accordion-item{
    border-radius: 8px;
    border: 1px solid #2F4A5B !important;
    color: #2390B6;
}

.accordion-quark button{
    background: #0A1C28 !important;
    color: #2390B6;
    border: 0px solid #2390B6 !important;
}

.accordion-quark .accordion-collapse{
    background: #0A1C28 !important;
    color: #2390B6;
    border: 0px solid #2390B6 !important;
}



  /*Profile*/

 .my-profile-container .card-quark .card-body{
    border-top: 1px solid #2F4A5B !important;
 }
 .my-profile-container .card-quark .card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0px;
    align-items: center;
 }

 .my-profile-container .card-quark .card-header h5{
    margin-bottom: 0px !important;
 }

 .my-profile-container .card-quark h3{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
 }

 .my-profile-container .card-quark .card-header p{
    margin-bottom: 0px !important;
 }

 .my-profile-container .card-quark .userAndMail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 }

 .my-profile-container .card-quark{
    margin-top: 20px !important;
    margin-bottom: 0px !important;
 }
 .my-profile-container .card-header{
    padding: 13px !important;
 }
 .my-profile-container .card-body{
    padding: 13px !important;
 }

 .my-profile-container .progress {
    margin-bottom: 6px !important;
    margin-top: 6px !important;
}

 .btn-group .btn{
    font-family: 'JetBrains Mono' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 17px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: #0B2A3F !important;
    border: 1px solid #2390B6 !important;
    color: #588CAF !important;
}

.btn-group #presed{
    background: #0B86A0 !important;
    border: 1px solid #4AA3DB !important;
    color: #C4E4F9 !important;
}

.input-group {
    margin-bottom: 10px;
}

.input-group .input-group-text{
    background: #26182D !important;
    border-style: solid !important;
    border-color: #2F4A5B !important;
    color: #588CAF !important;
    font-family: 'Inter' !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    min-width: 150px !important;
}

.input-group input{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
}

.input-group select{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
}

.input-group input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(var(--value, 100%))
}

.input-group textarea{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
}

/*Img

.image-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container > img {

    width: 100%;
  }

  */

/* General Inputs */

.input-group-text{
    background: #26182D !important;
    border-style: solid !important;
    border-color: #2F4A5B !important;
    color: #588CAF !important;
    font-family: 'Inter' !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    min-width: 150px !important;
}

input{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
}

select{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    filter: invert(var(--value, 100%))
}

textarea{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
}


.my-profile-container .quark-title-action{
    font-family: 'Inter';
    font-size: 15px !important;
    line-height: 19px;
    color: #FFFFFF;
    padding: 10px 30px 3px;
    border-top: 1px solid #2F4A5B;
    border-bottom: 1px solid #2F4A5B;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.my-profile-container .quark-title-action h5{
    font-weight: 600;
}


.my-profile-container .quark-title-action .quark-btn-action{
    font-family: 'JetBrains Mono' !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: #588CAF;
    transition: all ease .5s;
}

.my-profile-container .quark-title-action .quark-btn-action:hover{
    color: #78c1f1;
    transition: all ease .5s;
}

.profesionalProfileContainer .card-header .card-text{
margin-bottom: 0px !important;
}

.input-group .form-control{
    border: 1px solid #2F4A5B !important;
    background-color: transparent !important;
    color: #22C4FC !important;
    margin: 0px !important;
    }
    

/*Estilos de date-picker*/

#date-picker {
    border: none !important;
    padding: 0 !important;
    width: 100% !important;
}

#picker {
    font-family: 'JetBrains Mono' !important;
    font-weight: 500 !important;
    font-size: 13px !important;
    line-height: 17px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    background: #0B2A3F !important;
    border: 1px solid #2390B6 !important;
    border-radius: 5px !important;
    color: #588CAF !important;
}

.picker-calendar {
    background: #170e1b !important;
    border-color: #0B86A0 !important;
}

.react-datepicker__header{
    background-color: #26182D  !important;
    border-bottom: 1px solid #0B86A0 !important;
}

.react-datepicker__day-names{
    background-color: #26182D;
}

.react-datepicker__day-name {
    color: #0B86A0 !important;
}

.calendar-day {
    border-radius: 5px;
    color: #0B86A0 !important;
}

.react-datepicker__triangle {
    background-color: red !important;
}

/* Modal Styles */

.modal-content{
    background: #170e1b !important;
    border: 1px solid #2F4A5B !important;
    color: #588CAF;
    margin-bottom: 23px !important;
    border-radius: 8px;
    padding: 0px;
    /*overflow: hidden ;*/
}

.modal-header{
    background: #27182e !important;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none !important;
}

.modal-header h5{
    margin: 0px;
    color: #588CAF;
}

.modal-body{
    padding: 10px;
}

.inputRadios{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.inputRadios .btn-quark-radio{
    margin-left: 5px;
    border-radius: 30px;
    font-size: 15px;
    padding: 6px 9px;
    background: #0B2A3F !important;
    border: 1px solid #2390B6 !important;
    color: #588CAF !important;
}

.inputRadios .btn-quark-radio.checked{
    background: #185075 !important;
}

/* Master View*/

.quark-masterview-card{
    padding: 30px;
    background: #0A1C28 !important;
    border-radius: 8px;
    border: none !important;
    
}

.coursesContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.cardDiv{
    max-width: 45%;
}

.quark-masterview-card .btn-quark.disabled{
    border: none !important;
    background-color: transparent !important;
}

.quark-masterview-card.disabled .courses{
    opacity: .2 !important;
}

.level-initial h3{
    color: #ffffff;
    font-weight: 800;
    font-size: 38px;
    line-height: 46px;
    letter-spacing: -0.065em;
    display: block;
    text-align: center;
    background: #0A1C28 !important;
    margin-bottom: 20px;
    padding: 15px;
}

.disableButton{
    display: none !important;
}



/* //Boton game Jam// */
.displaynone{
    display: none !important;
}

.loginPageContainer{
    height: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notRegister{
    display: flex;
    flex-direction: column;
} 

